.banner {
    min-height: 530px;
    background-image: url('../images/bg_banner.PNG');
    background-size: cover;
    margin-bottom: 4px;
}

.group-search {
    width: 100%;
    max-width: 840px;
    min-height: 74px;
    border-radius: 4px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #ffffff;
    border-top: 0;
    border-bottom: 0;
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    margin-top: -33px;
    padding: 10px 25px;

    img {
        max-width: 52px;
        margin-right: 10px;
    }

    .search-info {
        span {
            font-size: 22px;

            &:nth-child(1) {
                margin-right: 8px;
            }

            &:nth-child(2) {
                margin-right: 6px;
            }
        }

        @include xs {
            display: block;
            float: none !important;
            text-align: center;
        }
    }


    .search-control {
        margin-top: 4px;
        position: relative;

        input {
            min-height: 44px;
            border: 1px solid #69c2e8;
            border-right: 0;
            outline: none;
            @include border-left-radius(60px);
            padding-left: 20px;
            padding-right: 5px;

            @include xs {
                width: 80%;
            }
        }

        label {
            border: 1px solid #69c2e8;
            border-left: 0;
            @include border-right-radius(60px);
            display: block;
            float: right;
            width: auto;
            height: 44px;
            margin: 0;
            padding-top: 6px;
            padding-right: 8px;

            a {
                color: #66ccf3;
                display: block;
                float: right;
                width: 30px;
                height: 30px;
                border: 1px solid #f2f2f3;
                font-size: 16px;
                padding: 2px 6px;
                @include border-radius(50%);
                color: #66d5f5;
                background: rgba(255,255,255,1);
                background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
                background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
                background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
                background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
                background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

                &:hover {
                    opacity: 0.7;
                }
            }

            @include xs {
                width: 20%;
            }
        }

        &:before {
            content: "";
            position: absolute;
            width: 40px;
            height: 1px;
            background-color: #69c2e8;
            top: 50%;
            left: -40px;

            @include device {
                content: none;
            }
        }

        @include xs {
            display: block;
            float: none !important;
            text-align: center;
        }
    }
}

.top-house {
    background-color: #4d4d4d;
    min-height: 700px;
    padding-bottom: 30px;

    .slider {
        padding-top: 75px;
        min-height: 335px;
        background-image: url('../images/bg_slider.PNG');
        background-size: 100% 100%;
        margin-bottom: 20px;

        .slick-top {
            > div {
                img {
                    width: 165px;
                    height: 165px;
                    border-radius: 50%;
                    border: 2px solid #fff;
                    margin-bottom: 20px;
                }

                span {
                    color: $blue-primary-color;
                    font-size: 20px;
                    display: block;
                    width: 165px;
                    text-align: center;
                    margin-bottom: 5px;
                }

                a {
                    font-size: 11px;
                    color: #fff;
                    display: block;
                    width: 165px;
                    text-align: center;

                    &:hover {
                        color: $blue-primary-color;
                        text-decoration: none;
                    }
                }
            }
        }

        @include device {
            padding-top: 125px;
            padding-bottom: 5px;
        }
    }

    .most-sale {
        ul {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid $blue-primary-color;
            position: relative;
            margin-left: 35px;
            margin-bottom: 20px;

            li {
                list-style: none;
                float: left;
                padding: 0 19px;

                a {
                    color: #666769;
                    font-size: 14px;
                    @include transition(0.2s);

                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }

                &.active {
                    border-right: 1px solid $blue-primary-color;

                    a {
                        color: #fff;
                        font-size: 18px;
                    }
                }
            }

            &:before {
                content: "";
                position: absolute;
                width: 40px;
                height: 40px;
                left: -35px;
                top: 0;
                background-image: url('../images/ico_money.PNG');
                background-size: cover;
            }
        }

        .list-image {

            .box {
                background-color: #fff;
                width: 235px;
                color: #000;

                .box-img {
                    img {
                        width: 230px;
                        height: 195px;
                    }

                    overflow: hidden;
                    text-align: center;
                    background-size: cover;
                }

                hr {
                    margin: 10px 0;
                    border-top: 2px solid $blue-primary-color;
                }

                .content {
                    padding: 0 10px;
                    padding-bottom: 15px;
                }
            }
        }
    }
}

.light-bg {
    @include device {
        display: none;
    }

    &.search {
        margin-top: -73px;
        left: 260px;
    }

    &.menul {
        width: 751px;
        height: 91px;
        margin-top: -92px;
        left: 280px;
    }

    &.footer {
        margin-top: 5px;
        margin-left: 35px;
    }
}

.help {
    padding: 20px 10px;
    background-color: #fff;

    .left-panel {
        padding: 0;
        padding-right: 5px;

        .block {
            margin-bottom: 20px;

            .title-black {
                margin-bottom: 15px;
            }

            .list {
                padding: 15px 0px;

                .blue-bullet {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        display: table;
                        padding-bottom: 20px;

                        span,
                        a {
                            display: table-cell;
                            vertical-align: top;
                            color: #000;
                        }

                        span {
                            padding-right: 10px;

                            i {
                                color: $blue-primary-color;
                                font-size: 8px;
                            }
                        }

                        a {
                            padding-top: 3px;
                        }
                    }
                }
            }

            &.news-second {
                .box-img {
                    span {
                        display: block;
                        background-color: $blue-primary-color;
                        padding: 10px 15px;
                        font-family: $font-bold;
                        color: #fff;
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .right-panel {
        padding: 0;
        padding-left: 5px;

        .most-view {
            border: 1px solid $blue-primary-color;
            border-top: 0;
            @include border-radius(5px);
            @include border-radius-top(0);
            font-size: 14px;
            position: relative;

            .content {
                padding: 10px 12px;
                max-height: 360px;
                overflow: auto;
                width: 100%;

                .mCSB_scrollTools {
                    margin-right: -5px;
                }
            }

            .list-view {
                display: table;

                a {
                    color: #000;
                    transition: all ease 0.2s;

                    &:hover {
                        opacity: 0.8;
                        text-decoration: none;
                    }
                }


                span {
                    display: table-cell;
                    vertical-align: top;
                    padding: 10px 6px;

                    &:nth-child(1) {
                        min-width: 105px;
                        width: 105px;
                    }
                }
            }

            .view-more {
                margin-right: 15px;
            }
        }
    }
}
